{% extends "mailing/base.html" %}
{% block content %}
<h1>Список рассылок</h1>
<a href="{% url 'mailing:mailing_create' %}" class="btn btn-primary mb-3">Создать новую рассылку</a>
<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Статус</th>
            <th>Сообщение</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for mailing in mailings %}
        <tr>
            <td>{{ mailing.date_of_first_dispatch }}</td>
            <td>{{ mailing.get_status_display }}</td>
            <td>{{ mailing.message_id }}</td>
            <td>
                <a href="{% url 'mailing:mailing_update' mailing.pk %}" class="btn btn-warning btn-sm">Изменить</a>
                <a href="{% url 'mailing:mailing_delete' mailing.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}