{% extends 'mailing/home.html' %}
{% block content %}
  <h1>Детали рассылки</h1>
  <p><strong>Название:</strong> {{ mailing.name }}</p>
  <p><strong>Описание:</strong> {{ mailing.description }}</p>
  <p><strong>Дата начала:</strong> {{ mailing.created_at }}</p>
  <p><strong>Дата окончания:</strong> {{ mailing.end_date }}</p>
  <p><strong>Статус:</strong> {{ mailing.status }}</p>
  <p><strong>Клиенты:</strong></p>
  <ul>
    {% for client in mailing.clients.all %}
      <li>{{ client.fullname }} ({{ client.email }})</li>
    {% endfor %}
  </ul>
  <a href="{% url 'mailing-list' %}" class="btn btn-secondary">Назад к списку рассылок</a>
{% endblock %}