{% extends 'mailing/base.html'%}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">
                        Статья "{{ object.title }}" ({{ object.slug }})
                    </h5>
                </div>
                <div class="card-body">
                    <p>
                        {{ object.body }}
                    </p>
                </div>
                <div class="card-footer">
                    Просмотры: {{ object.views_count }}
                </div>
            </div>
            <div class="col-12">
                <img src="/media/{{ object.image }}"/>
            </div>
        </div>
    </div>
</div>

{% endblock %}