<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">     
         <a class="nav-link active" aria-current="page" href="{% url 'mailing:mailing_list' %}">Рассылки</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'messages' %}active{% endif %}">
          <a class="nav-link" href="#">Сообщения</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'users_list' %}active{% endif %}">
          <a class="nav-link" href="#">Пользователи</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'blog_list' %}active{% endif %}">
          <a class="nav-link" href="#">Блог</a>
        </li>
      </ul>
    </div>
  </div>
</nav>